@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

input,
textarea {
    outline: none;
}

input:active,
textarea:active {
    outline: none;
}

:focus {
    outline: none;
}

textarea {
    resize: none;
}

textarea {
    resize: vertical;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.block {
    margin: 30px auto;
    width: 1728px;
    height: 1747px;
    text-align: center;
}

.text h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    color: #000000;
}

.top_btn {
    width: 254px;
    height: 55px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    margin-top: 20px;
}

.card_block {
    width: 364px;
    height: 474px;
    background-color: #000;
}

.bag {
    width: 364px;
    height: 199px;
    background-color: #fff;
    border: 1px solid #000;
}

.bag img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    text-align: center;
}

.card p {
    width: 297px;
    height: 51px;
    color: rgba(255, 255, 255, 0.56);
}

.card h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.items {
    width: 250px;
    height: 30px;
    display: flex;
    align-items: center;
    margin-top: 46px;
}

.item_text_one {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #fff;
}

.item_text_two {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #fff;
}

.item_text_three {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #fff;
}

.bottom_btn {
    width: 305px;
    height: 55px;
    margin-top: 30px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    transition: .3s ease;
}

.bottom_btn_after {
    width: 305px;
    height: 55px;
    margin-top: 30px;
    background: #1F86FF;
    border: 1px solid #000000;
    border-radius: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    transition: .3s ease;
}

.maim_card {
    width: 1530px;
    display: flex;
    align-items: center;
    gap: 21px;
    flex-wrap: wrap;
    margin: 60px auto;
}

.plus {
    width: 364px;
    height: 474px;
    border: 1px solid #000;
    border-radius: 30px;
}

.plus_text {
    text-align: center;
    font-size: 380px;
}

.activeBTN {
    background: red !important;
}

.under_card {
    margin: 0 auto;
    width: 1510px;
}

.chosenOnes {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 1510px;
    height: 200px;
}

.chosenright {
    display: flex;
    justify-content: space-between;
    height: 200px;
    width: 650px;
}

.Selected_Cart {
 
    object-fit: contain;
    width: 300px;
    height: 200px;
}

.Selected_text {
    margin-left: 20px;
    font-weight: 400;
    font-size: 50px;

}

.price_product {
    font-weight: 400;
    font-size: 30px;
    margin-top: 30px;
}

.chosenLift {
    display: flex;
    justify-content: flex-end;
    width: 250px;
    height: 100px;
}

.chosenLiftMain {
    border-radius: 50px;
    background-color: #E8FFF0;
    padding-top: 18px;
    margin: 0 auto;
    width: 200px;
    display: flex;
    height: 60px;
    justify-content: space-between;
}

.General_mathematics {
    color: #00AB49;
    font-weight: 500;
    font-size: 40px;
    margin-top: -17px;
    border-radius: 50%;
    background-color: #D9FAE5;
    width: 60px;
    height: 60px;
}
.Selected_Img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.Plustovara{
    color: #00AB49;
    font-weight: 500;
    font-size: 40px;
    margin-top: -17px;
    border-radius: 50%;
    background-color: #D9FAE5;
    width: 60px;
    height: 60px;
}
.Ministovar{
    color: #00AB49;
    font-weight: 500;
    font-size: 40px;
    margin-top: -17px;
    border-radius: 50%;
    background-color: #D9FAE5;
    width: 60px;
    height: 60px;
}